<div class="nav-bar">
    <button mat-icon-button (click)="close()">
        <fa-icon [icon]="faTimes"></fa-icon>
    </button>
    <button mat-icon-button>
        <fa-icon [icon]="faQuestion"></fa-icon>
    </button>
    <button mat-icon-button (click)="minimize()">
        <fa-icon [icon]="faMinus"></fa-icon>
    </button>
</div>
<div class="flex-row">
    <div class="flex-center login" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="login flex-center" *ngIf="!loading">
        <div>
            <h3>Sign in with your Quest Account</h3>
            <p style="color: red;">{{loginResult}}</p>
        </div>
        <mat-form-field>
            <input type="text" matInput placeholder="USERNAME" [(ngModel)]="username" (keydown)="submit($event)"/>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="PASSWORD" [(ngModel)]="password" (keydown)="submit($event)"/>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="staySignedIn"> Stay sign in?</mat-checkbox>
        <div class="flex-center" style="padding:2em;"  (click)="signIn()">
            <fa-icon [icon]="faSignInAlt" size="4x" [class.clickable]="username && password"
            [style.color]="username && password ? '#f54242' : 'rgba(0, 0 , 0, .3)'"
            [style.cursor]="username && password ? 'pointer': 'initial'"></fa-icon>
        </div>
        <div class="bottom-info">
            <div class="flex-column help">
                <p (click)="signUp()">CREATE ACCOUNT</p>
                <p>CAN'T SIGN IN?</p>
            </div>
            <div>
                <p>V1.0.0</p>
            </div>
        </div>
    </div>
    <div class="banner item-big"></div>
</div>
<quest-sing-up *ngIf="showSignUp" (closeEvent)="signUp()"></quest-sing-up>